[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
cogapp = "*"

[packages]
cherrypy = "*"
python-slugify = "*"
requests = "*"
mockmeter = {editable = true, path = "."}

[requires]
python_version = "3.6"
