ul#tabnav {text-align: left; margin: 1em 0 1em 0; font: bold 11px verdana, arial, sans-serif; border-bottom: 1px solid #aaa; list-style-type: none; padding: 3px 10px 3px 10px;}
ul#tabnav li {display: inline;}
body#tab1 li.tab1, body#tab2 li.tab2 {border-bottom: 1px solid #fff; background-color: #fff;}
body#tab1 li.tab1 a, body#tab2 li.tab2 a { background-color: #fff; color: #000; position: relative; top: 1px; padding-top: 4px;}
ul#tabnav li a {padding: 3px 4px; border: 1px solid #aaa; background-color: #d4ddff; color: #666; margin-right: 0px; text-decoration: none; border-bottom: none;}
ul#tabnav a:hover {background: #fff;}